@charset "utf-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

#dk_body {
}
.top_bar {
	height: 46px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	/*background-color: #D4BBBB;*/
}
.top_logo {
	float: left;
}
.top_no {
	float: right;
	
}



.dk_kv {
	background-image: url(images/kv.jpg);
	background-position: center;
	height: 370px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-size: cover;
}
.kv_tit {
	margin-top: 4%;
	margin-left: 9%;
	height: 55%;
}




/*ALL 單一文字欄位*/
input{
	padding: 2px 5px;
	background-color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #c4c4c4;
}


/*ALL select區塊*/
select{
padding:2px 5px;
background-color: #FFFFFF;
cursor: pointer;
border: 1px solid #c4c4c4;
}



/*ALL 文字區塊*/
textarea{
padding:2px 5px;
background-color: #FFFFFF;
cursor: pointer;
border: 1px solid #c4c4c4;
}






/*BAR 1*/
.dk_titbar {
	width: 100%;
	height: 95px;
	background-image: url(images/tit_bar_bg.jpg);
	background-repeat: repeat-x;
	
}
.dk_tit_name {
	width: 820px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
}
.txt_tit {
	margin-top: 16px;
}
.dk_must_icon{
	float: right;
	margin-top: 45px;
}

.dk_info {
	position: relative;
	background-image: url(images/dk_info_bg1.jpg);
	background-repeat: no-repeat;
	width: 820px;
	height: 217px;
	margin-left: auto;
	margin-right: auto;
}

/*渡假村*/
.dk_place {
	width: 214px;
	height: 25px;
	position: absolute;
	top: 1px;
	left: 151px;
}
/*行程類型*/
.dk_ptype1 {
	width: 223px;
	height: 25px;
	position: absolute;
	top: 25;
	left: 510px;
}
.dk_ptype2 {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 3px;
	left: 654px;
}
/*出發日期*/
.dk_dday {
	width: 157px;
	height: 20px;
	position: absolute;
	top: 37px;
	left: 151px;
}
/*住宿晚數*/
.dk_nday {
	width: 215px;
	height: 25px;
	position: absolute;
	top: 37px;
	left: 518px;
}
/*旅遊顧問*/
.dk_oman {
	width: 215px;
	height: 25px;
	position: absolute;
	top: 75px;
	left: 151px;
}
/*房型備註*/
.dk_remarks {
	width: 611px;
	height: 86px;
	position: absolute;
	top: 110px;
	left: 150px;
}








/*BAR 2*/
.dk_titbar2 {
	width: 100%;
	height: 95px;
	background-image: url(images/tit_bar_bg2.jpg);
	background-repeat: repeat-x;
	
}
.dk_tit_name2 {
	width: 820px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
}
.txt_tit2 {
	margin-top: 28px;
}
.dk_must_icon2{
	float: right;
	margin-top: 53px;
}

.dk_info2 {
	position: relative;
	background-image: url(images/dk_info_bg2.jpg);
	background-repeat: no-repeat;
	width: 820px;
	height: 1337px;
	margin-left: auto;
	margin-right: auto;
}

/*旅客資訊1*/
.dk_personal_1 {
	position: absolute;
	top: 37px;
	left: 0px;
	width: 820px;
}
/*旅客資訊2*/
.dk_personal_2 {
	position: absolute;
	top: 262px;
	left: 0px;
	width: 820px;
}

/*旅客資訊3*/
.dk_personal_3 {
	position: absolute;
	top: 488px;
	left: 0px;
	width: 820px;
}

/*旅客資訊4*/
.dk_personal_4 {
	position: absolute;
	top: 713px;
	left: 0px;
	width: 820px;
}

/*旅客資訊5*/
.dk_personal_5 {
	position: absolute;
	top: 939px;
	left: 0px;
	width: 820px;
}

/*旅客資訊6*/
.dk_personal_6 {
	position: absolute;
	top: 1164px;
	left: 0px;
	width: 820px;
}



/*旅客資訊 護照英文姓氏 共用*/
.dk_passport_en1 {
	position: absolute;
	height: 18px;
	width: 63px;
	top: -32px;
	left: 250px;
	font-size: 12px;
}
/*旅客資訊 護照英文名字 共用*/
.dk_passport_en2 {
	position: absolute;
	height: 18px;
	width: 74px;
	top: -32px;
	left: 426px;
	font-size: 12px;
}
/*旅客資訊 生日 共用*/
.dk_birthday {
	position: absolute;
	top: -32px;
	left: 553px;
	height: 18px;
	width: 102px;
	font-size: 12px;
}
/*旅客資訊 男 共用*/
.dk_passport_sex_a {
	position: absolute;
	width: 18px;
	height: 18px;
	top: -32px;
	left: 676px;
}
/*旅客資訊 女 共用*/
.dk_passport_sex_b {
	position: absolute;
	width: 18px;
	height: 18px;
	top: -32px;
	left: 724px;
}
/*旅客資訊 中文姓名 共用*/
.dk_passport_ch1 {
	position: absolute;
	height: 18px;
	width: 102px;
	top: 6px;
	left: 250px;
	font-size: 12px;
}
/*旅客資訊 身分證字號 共用*/
.dk_passport_id {
	position: absolute;
	height: 18px;
	width: 130px;
	top: 6px;
	left: 637px;
	font-size: 12px;
}
/*分房資訊 房間ABCD下拉 共用*/
.dk_room_nb {
	position: absolute;
	height: 25px;
	width: 132px;
	top: 44px;
	left: 250px;
	font-size: 12px;
}


/*旅客資訊 備註 共用*/
.dk_p_remarks {
	position: absolute;
	height: 18px;
	width: 517px;
	top: 122px;
	left: 250px;
	font-size: 12px;
}








/*BAR 3*/
.dk_titbar3 {
	width: 100%;
	height: 95px;
	background-image: url(images/tit_bar_bg2.jpg);
	background-repeat: repeat-x;
	
}
.dk_tit_name3 {
	width: 820px;
	height: 95px;
	margin-left: auto;
	margin-right: auto;
}
.txt_tit3 {
	margin-top: 28px;
}
.dk_must_icon3{
	float: right;
	margin-top: 53px;
}

.dk_info3 {
	position: relative;
	background-image: url(images/dk_info_bg3.jpg);
	background-repeat: no-repeat;
	width: 820px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
}

/*稱謂*/
.dk_sex1 {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 9px;
	left: 121px;
}
.dk_sex2 {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 9px;
	left: 185px;
}
/*姓名*/
.dk_name {
	width: 112px;
	height: 20px;
	position: absolute;
	top: 9px;
	left: 275px;
}

/*電話*/
.dk_phone {
	width: 112px;
	height: 20px;
	position: absolute;
	top: 47px;
	left: 85px;
}

/*email*/
.dk_email {
	width: 298px;
	height: 20px;
	position: absolute;
	top: 47px;
	left: 275px;
}
/*email*/
.dk_add {
	width: 647px;
	height: 20px;
	position: absolute;
	top: 85px;
	left: 84px;
}


/*個資同意*/
.dk_opt {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 131px;
	left: 243px;
}
.dk_opt2 {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 131px;
	left: 410px;
}

/*個資TXT PNG*/
.dk_agree {
	cursor: pointer;
	position: absolute;
	top: 132px;
	left: 269px;
}
.dk_agree2 {
	cursor: pointer;
	position: absolute;
	top: 132px;
	left: 435px;
}

/*送出按鈕*/
.dk_btn001{
	width: 189px;
	height: 69px;
	font-style: normal;
	color: #FFFFFF;
	border: 0px solid #FFFFFF;
	background-image: url(images/btn_send.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	opacity: 1;
	position: absolute;
	top: 176px;
	left: 314px;
}




















.foot_bar {
	height: 51px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #52494A;
	background-image: url(images/foot_copyright.jpg);
	background-position: 50% 0%;
	background-repeat: no-repeat;
}
